.cancel {
    background-color: #eb3a0e;
    color: white;
}

.cancel:hover {
    background-color: #ca340f;
}

.addemployee {
    background-color: #0e9aeb;
    color: white;
}

.addemployee:hover {
    background-color: #2293d4;
}

.assignTask {
    background-color: #4b66e0;
    color: white;
}


.assignTask:hover {
    background-color: #2293d4;
}